*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

html {
    scroll-behavior: smooth;
    font-family: Helvetica;
}

.logo-man {
    position: absolute;
    display: inline-block;
    padding: 7px 21px;
    cursor: pointer;
}

.header {
    position: relative;
    height: 74x;
    background-color: #c70101;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

 .left-nav {
    display: inline-block;
    position: relative;
    margin-left: 100px;
}

.left-nav, .subnav {
    list-style-type: none;
}

.left-nav > li {
    display: inline-block;
}

.left-nav > li > a {
    text-transform: uppercase;
    color: white;
    font-weight: 600;
} 

.left-nav li a {
    text-decoration: none;
    line-height: 74px;
    display: block;
    padding: 0 6px;
}

.left-nav .subnav {
    top: 100%;
    background-color: #c70101;
    min-width: 150px;
    display: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position:absolute;
}

.left-nav .subnav a {
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    color: white;
    line-height: 35px;
}

.left-nav .subnav li:hover a, 
.left-nav > li:hover > a {
    color: black;
    background-color: #ccc;
}

.left-nav li:hover .subnav {
    display: block;
}

.left-nav .nav-arrow-down {
    font-size: 13px
}

/* Nav-right */

.right-nav-login {
    float: right;
    display: flex;
    line-height: 74px;
}
.right-nav-login li {
    padding: 0 20px;
    list-style: none;
    display: inline-block;

}
.right-nav-login li a, .right-nav-login li i {
    color: rgb(247, 242, 242);
    text-decoration: none;
    font-weight: 600;
}

/* .right-nav-login li:hover, .right-nav-login li:hover{
     background-color: #ccc; 
} */

.right-nav-login li:hover a, .right-nav-login li:hover i{
    color: black;
}

/* second-nav */
.secondnav {
    width: 1000px;
    margin: 0 auto;
    padding-top: 110px;
}

.second-nav-list {
    margin-top: 31px;
    background-color: #c70101;
    height: 103px;
}

.second-nav-list ul li {
    display: inline-block;
    list-style: none;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.second-nav-list ul li i {
    color: white;
}

.second-nav-list ul li a{
    line-height: 103px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}

.second-nav-item-left li {
    padding: 0 30px
}

.second-nav-item-right li {
    padding: 0 30px
}

.sencond-nav-title {
    color: #c70101;
    font-weight: 700;
}

/* Content */

.content {
    padding-top: 40px;
    width: 1000px;
    margin: 0 auto;
}

.shirt-list {
    display: flex;
    justify-content: space-between;
}

.shirt-item {
    padding: 0 20px;
}

.shirt-img {
    cursor: pointer;
    padding: 45px; 
    width: 100%;
}

.price {
    margin-bottom: 10px;
    font-weight:800;
}

.hr {
    margin-top: 20px;
}

/* pagination */

.pagination {
    display: inline-block;
}

.pagina {
    text-align: center;
    margin-top: 20px;
}

  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .pagination a.active {
    background-color: red;
    color: white;
    border-radius: 5px;
  }
  
  .pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
  }

/* end-pagi */

/* footer */
.footer {
    background-color: #f4f5f5;
    width: 210px;
    width: 100%;
}

/* .footer-flex {

} */

.customer, .worry, .information, .signup {
    padding: 30px 0;
    width: 25%;
    float: left;
    padding-left: 70px;
}


.footer-flex li {
    list-style-type: none;
}

.customer a, .worry a, .information a{
    text-decoration: none;
    color: #242424;
    font-size: 12px;
}

.customer li, .worry li, .information li {
    padding: 3px 0;
} 

.customer li a:hover, .worry li a:hover, .information li a:hover {
    text-decoration: underline;
} 

.customer li p, .worry li p, .information li p{
    font-weight: 600;
} 





.thin-text {
    font-size: 12px;
    margin-bottom: 10px;
}

.signup li a{
    text-decoration: none;
}

.footer-sign-up{
    line-height: 39px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
}

.footer-sign-up span {
    color: white;
    font-weight: 600;
    font-size: 16;
}

.li-sign-up{
    width: 233px;
    text-align: center;
    height: 39px;
    background-color: black;
    margin-bottom: 20px;
    cursor: pointer;
}
.li-sign-up:hover{
    background-color: rgb(68, 68, 68);
}

.follow-us-text{

    color: #252424;
    font-weight: 700;
}

.follow-us-text:hover{
    text-decoration: underline;
}

.social li {
    margin-top: 10px;
    display: inline-block;
}

.social li  {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: #242424;
    margin-right: 10px;
}

.social li:hover {
    background-color: rgb(240, 239, 239);
}

.social li a {
    line-height: 30px;
    color: white;
}
.social li a:hover {
    color: black;
}



.sub-footer {
    height: 44px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
}

.sub-footer p {
    color: #ddd;
    line-height: 44px;
    font-size: 13px;
}

.sub-footer ul li {
    display: inline-block;
    list-style-type: none;
}

.sub-footer ul li:hover {
   text-decoration: underline;
}

.sub-footer ul li a {
    line-height: 44px;
    text-decoration: none;
    font-size: 12px;
    color: white;
    margin-left: 29px;
}
